DISPLEX_HOSTNAME="displex-dev.example.com"
DISPLEX_APPLICATION_NAME="MyPlex"
DISPLEX_PLEX_SERVER_ID="serverid"
DISPLEX_DISCORD_CLIENT_ID="clientid"
DISPLEX_DISCORD_CLIENT_SECRET="clientsecret"
DISPLEX_DISCORD_BOT_TOKEN="bottoken"
DISPLEX_DISCORD_SERVER_ID="serverid"
DISPLEX_DISCORD_CHANNEL_ID="channelid"
DISPLEX_SESSION_SECRET_KEY="c6a80ab9bd09c53ffe953e45bb2145b3ec9548061b81e764c65a1947ce402a4b"
DISPLEX_TAUTULLI_API_KEY="apikey"
DISPLEX_TAUTULLI_URL="https://tautulli.example.com"
DISPLEX_ACCEPT_INVALID_CERTS=true
DISPLEX_DATABASE_URL=postgres://displex:password@localhost/displex
HTTPS_PROXY=https://localhost:8888

DATABASE_URL=postgres://displex:password@localhost/displex
RUST_LOG="debug"

DISPLEX_DISCORD_BOT_STAT_CATEGORY_NAME="Plex Stats"
DISPLEX_DISCORD_BOT_STAT_STATUS_NAME="Status"
DISPLEX_DISCORD_BOT_STAT_STREAM_NAME="Current Streams"
DISPLEX_DISCORD_BOT_STAT_TRANSCODE_NAME="Current Transcodes"
DISPLEX_DISCORD_BOT_STAT_BANDWIDTH_NAME="Bandwidth"
DISPLEX_DISCORD_BOT_LIB_CATEGORY_NAME="Plex Library"
DISPLEX_DISCORD_BOT_LIB_MOVIES_NAME="🎥 Movies"
DISPLEX_DISCORD_BOT_LIB_TV_SHOWS_NAME="📺 TV Shows"
DISPLEX_DISCORD_BOT_LIB_TV_EPISODES_NAME="🧩 Episodes"
